/* Paramètres généraux  */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
h2 {
  font-size: 7rem;
  text-align: center;
  color: rgb(217, 217, 217);
}
span {
  display: inline-block;
}
a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fefeff;
  transition: 0.1s linear;
}
a:visited {
  color: #fefeff;
}
a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #fefeff;
  bottom: -4px;
  left: 0;
  transform-origin: left;
}
a:hover {
  transform: scale(1.04);
  color: rgb(217, 217, 217);
}
a:hover::after {
  animation: animLink 1.4s infinite ease-in-out;
}
@keyframes animLink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.img {
  height: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 2s;
}
.img:hover {
  filter: grayscale(10%);
}
.appear {
  display: block;
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
}
.wrapper {
  perspective: 600px;
}
@keyframes appear {
  to {
    opacity: 1;
    transform: none;
  }
}
.appear.is-inview {
  animation: appear 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-delay: 0.4s;
}
.line {
  height: 2px;
  width: 60%;
  margin: 0 auto;
  background: #000101;
  opacity: 0;
  transform: scaleX(0);
  transition: 0.7s cubic-bezier(0.77, 0, 0.18, 1);
  transform-origin: left;
}
.line-wrapper.is-inview .line {
  opacity: 1;
  transform: scaleX(1);
}

/* Paramètres par ordre d'apparition CSS */
body {
  font-family: "Aboreto", cursive;
  background: #000101;
  color: #fefeff;
  animation-delay: 0.5s;
}
@keyframes backBlack {
  to {
    background: #000101;
    color: #fefeff;
  }
}
@keyframes backWhite {
  to {
    background: #fefeff;
    color: #000101;
  }
}
header {
  min-height: 100vh;
  position: relative;
  margin: 30px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.title {
  line-height: -1000px;
}
h1 {
  font-size: 8rem;
  margin-top: 70px;
}
header h2 {
  font-size: 6.5rem;
  margin: 20px 0;
  text-align: left;
}
#h2-1 {
  animation-delay: 0.8s;
}

#h2-2 {
  animation-delay: 1s;
}
.scroll-wrapper {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}
header p {
  color: rgb(217, 217, 217);
}
.about {
  margin: 400px 0 250px;
}
.img1-wrapper {
  z-index: 2;
  position: relative;
}
.img1 {
  background: url(../img/bill-gates-1.jpg) fixed top/cover;
  width: 395px;
}
.h2-wrapper {
  mix-blend-mode: exclusion;
  margin-top: -200px;
  text-align: center;
  z-index: 10;
  position: relative;
  margin-bottom: 200px;
}
.h2-wrapper h2 {
  color: rgb(196, 196, 196);
}
.about p {
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  font-size: 1.5rem;
}
.skills {
  margin: 300px 0 150px;
}
.skills h2 {
  margin-bottom: 150px;
}
.skills .wrapper {
  margin: 70px 20px;
}
.skills .appear {
  font-size: 5rem;
  text-align: center;
  animation-delay: 0.2s !important;
}
.portfolio {
  margin: 250px 0 200px;
}
.projects-container {
  margin: 100px 0 0;
}
.project {
  position: relative;
  width: 60vw;
  max-width: 600px;
  margin: 30px 5vw;
}
.project::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fefeff;
  transition: width 1s;
}
.project.is-inview::before {
  width: 0;
}
#p2 {
  transition-delay: 1.4s;
  margin: 0 6vw 0 auto;
}
#p3 {
  transition-delay: 1.8s;
  margin-left: 8vw;
}
.project img {
  transition: 0.4s ease-out;
}
.project:hover img {
  filter: brightness(20%);
}
.project:hover .project-infos {
  opacity: 1;
  transform: translateY(-50%);
}
.project-infos {
  position: absolute;
  top: 50%;
  margin-left: 8vw;
  transform: translate(-50px, -50%);
  opacity: 0;
  transition: 0.4s ease-out;
}
.project-infos a {
  font-size: 3rem;
}
.project-infos p {
  font-size: 2rem;
  margin-top: 25px;
  color: #fefeff;
}
footer {
  margin-top: 100px;
}
footer p {
  font-size: 1.7rem;
  text-align: center;
  margin: 25px 0;
}
#l2 {
  animation-delay: 1.2s;
}
#l3 {
  animation-delay: 1.6s;
}
footer a {
  text-decoration: underline;
  font-weight: 700;
  color: #000101;
}
.img2 {
  margin-top: -65px;
  background: url(../img/bill-gates-2.jpg) center/cover;
  width: 395px;
}
